{% extends '../layout.html' %}

{% block content %}
<div id="app" class="container">
  <h1>阅读文章录入</h1>
  <validator name="validation1">
  <form action="/admin/material" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <label for="title">文章标题</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="标题" v-validate:title="['required']">
    </div>
    <div class="form-group">
      <label for="level">选择等级</label>
      <select class="form-control" id="level" name="level" v-validate:level="['required']">
        <option>R1</option>
        <option>R2</option>
        <option>R3</option>
        <option>R4</option>
        <option>R5</option>
        <option>R6</option>
        <option>R7</option>
      </select>
    </div>
    <div class="form-group">
      <label for="memo">文章内容</label>
      <textarea style="height:100px;" class="form-control" id="content" name="content" placeholder="内容" v-validate:content="['required']"></textarea>
    </div>
    <div class="form-group">
      <label for="material">选择上传标准朗读</label>
      <input type="file" class="form-control" id="material" name="material" v-validate:material="['required']">
    </div>
    <div class="alert alert-danger" role="alert" v-show="$validation1.invalid">请填写完成所有内容，包括语音文件选择</div>
    <button type="submit" class="btn btn-default" v-show="$validation1.valid">完成</button>
  </form>
</validator>
</div>
<script type="text/javascript">
new Vue({
  el: '#app'
})
</script>
{% endblock %}
