{% extends '../layout.html' %}

{% block content %}

    <div class="container">
    <h1>卡片素材列表</h1>
    <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>卡片名</th>
                  <th>简介</th>
                  <th>等级</th>
                  <th>路径</th>
                </tr>
              </thead>
              <tbody >
                {% for card in cards %}
                <tr>
                  <td>{{card.title}}</td>
                  <td>{{card.memo}}</td>
                  <td>{{card.level}}</td>
                  <td>{{card.filepath}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

{% endblock %}
