{% extends '../layout.html' %}

{% block content %}

    <div class="container">
    <h1>卡片素材列表</h1>
    <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>卡片名</th>
                  <th>等级</th>
                  <th>预览</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody >
                {% for card in cards %}
                <tr>
                  <td>{{card.title}}</td>
                  <td>{{card.level}}</td>
                  <td><img src="/img/{{card.filename}}" alt="" style="height:40px;"/></td>
                  <td><a class="btn btn-danger" href="/admin/card/del?card_id={{card._id.toString()}}&card_path={{card.filepath}}">删除</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

{% endblock %}
