<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Your app title -->
  <title>关于GHS 1.0</title>
  <!-- Path to Framework7 Library CSS, iOS Theme -->
  <link href="//cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.min.css" rel="stylesheet">
  <!-- Path to Framework7 color related styles, iOS Theme -->
  <link href="//cdn.bootcss.com/framework7/1.4.2/css/framework7.ios.colors.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- Path to your custom app styles-->
</head>
<body>
  <!-- Status bar overlay for full screen mode (PhoneGap) -->
  <div class="statusbar-overlay"></div>
  <!-- Views -->
  <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
      <!-- Top Navbar-->
      <div class="navbar">
        <div class="navbar-inner">
          <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
          <div class="center sliding">关于GHS1.0</div>
        </div>
      </div>
      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
      <div class="pages navbar-through toolbar-through">
        <!-- Page, "data-page" contains page name -->
        <div data-page="index" class="page">
          <!-- Scrollable page content -->
          <div class="page-content">
            <div class="card">
              <div class="card-header">1.什么是Grit Habit System？</div>
              <div class="card-content">
                <div class="card-content-inner">
                <h2>grit</h2>
<h4>英  [grɪt] 美  [ɡrɪt] n. 刚毅，坚韧，勇气，坚定</h4>
GHS习惯塑造系统取词grit，目的是为了塑造学生坚韧不拔的品格和持之以恒的精神。学习本身是一个漫长的的过程，需要投入大量的时间和精力，经过我们在教育行业数十年的研究发现，造成学生专注力差、缺乏学习规划、成绩低的主要原因就是缺乏良好的学习习惯。
GHS习惯塑造系统是专注于培养学生学习习惯的在线自我学习与自我激励的微信端应用。目的是为了激发学生的主动学习意识，实现自我学习规划。</div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">2.GHS的运行机制是什么？</div>
              <div class="card-content">
                <div class="card-content-inner">
                  GHS的核心在于“Keep坚持”，科学分析指出，任何事情只要能keep21天就会成为一种习惯。GHS把对知识体系的科学管理与规划融入到习惯塑造体系中，让学生keep成习惯，并逐级提升能力。
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">3.GHS的Keep过程是什么？</div>
              <div class="card-content">
                <div class="card-content-inner">
                  领取任务-->keep-->反馈积分
                </div>
              </div>
            </div>
              <!-- <div class="card-footer no-border">
                <a href="#" class="link">Like</a>
                <a href="#" class="link">Comment</a>
                <a href="#" class="link">Share</a>
              </div> -->
          </div>


          </div>
        </div>
      </div>
      <!-- Bottom Toolbar-->
      <!-- <div class="toolbar">
        <div class="toolbar-inner">
          <a href="#" class="link">Link 1</a>
          <a href="#" class="link">Link 2</a>
        </div>
      </div> -->
    </div>
  </div>
  <!-- Path to Framework7 Library JS-->
  <script src="//cdn.bootcss.com/framework7/1.4.2/js/framework7.min.js"></script>
    <!-- Path to your app js-->
  <!-- <script src="//cdn.bootcss.com/moment.js/2.13.0/moment.min.js"></script> -->
</body>
</html>
