<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/main.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/vue/1.0.24/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.validator/2.1.2/vue-validator.min.js"></script>
    <title>管理页</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">轻课计划</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">阅读内容管理 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/admin/material/add">阅读内容上传</a></li>
                    <li><a href="/admin/material">阅读内容浏览</a></li>
                </ul>
                <!-- <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">阅读内容管理 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/quote_add">内容创建</a></li>
                    <li><a href="/quote_list">内容浏览</a></li>
                </ul> -->
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
