<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/ranklist.css">

    <title>排行榜</title>

</head>

<body>
  <div id="rank">
    <div class="bg">
    </div>
    <div class="table-responsive">

        <table class="table rank table-striped">
            <thead>
                <tr>
                    <th width="10%">Rank</th>
                    <th width="20%">Avatar</th>
                    <th width="40%">Name</th>
                    <th width="20%">Keep</th>
                    <th width="10%">Like</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>{% raw %}{{$index+1}}{% endraw %}</td>
                    <td><img v-bind:src='{% raw %}user.headimgurl{% endraw %}' alt="" style="width:40px;height:40px;"/></td>
                    <td>{% raw %}{{user.nickname | truncate}}{% endraw %}</td>
                    <td class="day">{% raw %}{{user.keepdays}}{% endraw %}day</td>
                    <td>
                        <span  class="glyphicon glyphicon-heart" aria-hidden="true" style="color:red;font-size:20px;"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- <ul id="example-1">
      <li v-for="item in items">
        {% raw %}{{item.message}}{% endraw %}
      </li>
    </ul> -->
  </div>
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/vue/1.0.24/vue.js"></script>
  <script type="text/javascript">
    var example = new Vue({
      el: '#rank',
      data: {
        users: null,
      },
      created: function(){
        this.fetchData()
      },
      filters: {
        truncate: function (v) {
          return v.length > 16 ? v.slice(0,16)+'...' : v;
        },
      },
      methods: {
        fetchData: function(){
          var self = this;
          $.getJSON('/admin/rank',function(data, result){
            self.users = data;
          });
        },
        like: function(){
          $.get('/admin/like',function(data, result){
            self.users = data;
          });
        },
      }
    });
    // var example1 = new Vue({
    //   el: '#example-1',
    //   data: {
    //     items: [
    //       { message: 'Foo' },
    //     ]
    //   }
    // })

  </script>
</body>


</html>
